<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
       <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <form class="well form-horizontal" action="/apps/{{ app.token }}/" method="POST">
                      {% csrf_token %}
                      <fieldset>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span><input id="name" name="name" placeholder="App name" class="form-control" required="true" value="{{ app.name }}" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Token</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span><input id="token" name="token" placeholder="App token" class="form-control" required="true" value="{{ app.token }}" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Client</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="client" name="client" placeholder="Client" class="form-control" required="true" value="{{ app.client }}" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Status</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control" id="status" name="status">
                                     {% for status in statuses %}
                                     <option value="{{status}}"
                                        {% if status == app.status %}selected="selected"{% endif %}>
                                        {{status|lower|capfirst}}
                                     </option>
                                     {% endfor %}
                                  </select>
                               </div>
                            </div>
                         </div>

                      </fieldset>
                     <div class="container bg-light">
                        <div class="col-md-12 text-center">
                            <input class="btn btn-primary" type="submit" value="Save">
                            <a class="btn btn-danger" href="/apps/" role="cancel">Cancel</a>
                        </div>
                    </div>
                   </form>
                </td>
             </tr>
          </tbody>
       </table>
    </div>